@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #612977;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.text-heading {
  @apply text-xl sm:text-2xl text-white font-bold;
}

.text-subheading {
  @apply text-lg sm:text-xl text-white font-semibold;
}

.text-body {
  @apply text-sm sm:text-base;
}

.text-small {
  @apply text-xs sm:text-sm;
}

.text-faded {
  @apply text-white opacity-55;
}

.input {
  @apply rounded bg-veryLightGray p-1 outline-none placeholder:opacity-45;
}

.text-highlight {
  @apply text-sm sm:text-base text-[#8c639c]; 
}

.toast {
  border: '1px solid #713200';
  padding: '16px';
  color: '#713200';
}